In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.neighbors import KNeighborsRegressor
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn import metrics

In [2]:
df = pd.read_csv(r'C:\Users\hp\Downloads\01_District_wise_crimes_committed_IPC_2001_2012.csv')

In [3]:
df.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [4]:
df.tail()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [5]:
column_names = df.columns
print(column_names)

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

In [6]:
df.shape

(9017, 33)

In [7]:
df.describe()

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
count,9017.000000,9017.00000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,...,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000
mean,2006.629034,89.28535,78.069646,9.895531,53.041366,0.005767,53.035599,79.152046,58.535433,20.616613,...,25.219918,747.893091,20.228901,100.511257,27.515582,194.122435,0.197849,222.216702,2174.299434,5310.115116
std,3.463623,327.27503,303.446020,59.521657,190.741450,0.115223,190.725474,317.630964,246.937464,88.586415,...,98.880282,3024.106467,96.970466,394.059436,167.237522,831.986594,2.415039,936.002540,7988.438462,18524.381119
min,2001.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,18.00000,10.000000,0.000000,8.000000,0.000000,8.000000,10.000000,6.000000,1.000000,...,2.000000,43.000000,1.000000,10.000000,0.000000,11.000000,0.000000,5.000000,265.000000,853.000000
50%,2007.000000,38.00000,28.000000,2.000000,20.000000,0.000000,20.000000,25.000000,18.000000,5.000000,...,8.000000,199.000000,5.000000,31.000000,2.000000,47.000000,0.000000,68.000000,745.000000,2096.000000
75%,2010.000000,66.00000,56.000000,6.000000,41.000000,0.000000,41.000000,56.000000,42.000000,13.000000,...,20.000000,529.000000,16.000000,76.000000,13.000000,135.000000,0.000000,177.000000,1608.000000,3972.000000
max,2012.000000,7601.00000,7964.000000,1616.000000,3425.000000,5.000000,3425.000000,8878.000000,7910.000000,2416.000000,...,2830.000000,56768.000000,2322.000000,7118.000000,4970.000000,19865.000000,83.000000,16076.000000,124176.000000,220335.000000

In [8]:
df.isnull().sum()

STATE/UT                                               0
DISTRICT                                               0
YEAR                                                   0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
CUSTODIAL RAPE                                         0
OTHER RAPE                                             0
KIDNAPPING & ABDUCTION                                 0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            0
KIDNAPPING AND ABDUCTION OF OTHERS                     0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
AUTO THEFT                                             0
OTHER THEFT                                            0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
TOTAL IPC CRIMES                                       0
dtype: int64

In [9]:
# List of unnecessary features to drop
unnecessary_features = [
    'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER',
    'CUSTODIAL RAPE',
    'OTHER RAPE',
    'ARSON',
    'HURT/GREVIOUS HURT',
    'DOWRY DEATHS',
    'INSULT TO MODESTY OF WOMEN',
    'CRUELTY BY HUSBAND OR HIS RELATIVES',
    'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
    'CAUSING DEATH BY NEGLIGENCE',
    'OTHER IPC CRIMES',
    
    'CAUSING DEATH BY NEGLIGENCE',
    'PREPARATION AND ASSEMBLY FOR DACOITY',
    'BURGLARY',
    'OTHER THEFT',
    'CRIMINAL BREACH OF TRUST',
    'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
    'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
    'KIDNAPPING AND ABDUCTION OF OTHERS',
    'PREPARATION AND ASSEMBLY FOR DACOITY',
    'STATE/UT'
   
    # Add other columns you want to drop here
]

# Drop the unnecessary columns
df1 = df.drop(columns=unnecessary_features)

In [10]:
# Print the first few rows of the DataFrame df1
df1.head()

,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,DACOITY,ROBBERY,THEFT,AUTO THEFT,RIOTS,CHEATING,COUNTERFIETING,TOTAL IPC CRIMES
0,ADILABAD,2001,101,60,50,46,30,9,41,199,22,78,104,1,4154
1,ANANTAPUR,2001,151,125,23,53,30,8,16,366,57,168,65,8,4125
2,CHITTOOR,2001,101,57,27,59,34,4,14,723,164,156,209,9,5818
3,CUDDAPAH,2001,80,53,20,25,20,1,4,173,36,164,37,2,3140
4,EAST GODAVARI,2001,82,67,23,49,26,4,25,1021,150,70,220,3,6507

In [11]:
df1.tail()

,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,DACOITY,ROBBERY,THEFT,AUTO THEFT,RIOTS,CHEATING,COUNTERFIETING,TOTAL IPC CRIMES
9012,LAKSHADWEEP,2012,0,0,0,0,0,0,0,7,1,10,0,0,60
9013,TOTAL,2012,0,0,0,0,0,0,0,7,1,10,0,0,60
9014,KARAIKAL,2012,5,6,6,2,2,0,3,81,53,17,15,1,787
9015,PUDUCHERRY,2012,24,21,7,17,14,5,13,577,409,109,75,5,3494
9016,TOTAL,2012,29,27,13,19,16,5,16,658,462,126,90,6,4281

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 15 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DISTRICT                                     9017 non-null   object
 1   YEAR                                         9017 non-null   int64
 2   MURDER                                       9017 non-null   int64
 3   ATTEMPT TO MURDER                            9017 non-null   int64
 4   RAPE                                         9017 non-null   int64
 5   KIDNAPPING & ABDUCTION                       9017 non-null   int64
 6   KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS  9017 non-null   int64
 7   DACOITY                                      9017 non-null   int64
 8   ROBBERY                                      9017 non-null   int64
 9   THEFT                                        9017 non-null   int64
 10  AUTO THEFT                                   9017 non-null   int64
 11  RIOTS                                        9017 non-null   int64
 12  CHEATING                                     9017 non-null   int64
 13  COUNTERFIETING                               9017 non-null   int64
 14  TOTAL IPC CRIMES                             9017 non-null   int64
dtypes: int64(14), object(1)
memory usage: 1.0+ MB

In [13]:
le = LabelEncoder()

# Fit and transform the 'STATE/UT' column
df1['STATE/UT_encoded'] = le.fit_transform(df1['STATE/UT'])

# Create a mapping dictionary
mapping = dict(zip(le.classes_, range(len(le.classes_))))

# Display mapping if needed
print(mapping)

{'A & N ISLANDS': 0, 'ANDHRA PRADESH': 1, 'ARUNACHAL PRADESH': 2, 'ASSAM': 3, 'BIHAR': 4, 'CHANDIGARH': 5, 'CHHATTISGARH': 6, 'D & N HAVELI': 7, 'DAMAN & DIU': 8, 'DELHI UT': 9, 'GOA': 10, 'GUJARAT': 11, 'HARYANA': 12, 'HIMACHAL PRADESH': 13, 'JAMMU & KASHMIR': 14, 'JHARKHAND': 15, 'KARNATAKA': 16, 'KERALA': 17, 'LAKSHADWEEP': 18, 'MADHYA PRADESH': 19, 'MAHARASHTRA': 20, 'MANIPUR': 21, 'MEGHALAYA': 22, 'MIZORAM': 23, 'NAGALAND': 24, 'ODISHA': 25, 'PUDUCHERRY': 26, 'PUNJAB': 27, 'RAJASTHAN': 28, 'SIKKIM': 29, 'TAMIL NADU': 30, 'TRIPURA': 31, 'UTTAR PRADESH': 32, 'UTTARAKHAND': 33, 'WEST BENGAL': 34}

In [14]:
df1.tail()

,STATE/UT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,DACOITY,ROBBERY,THEFT,AUTO THEFT,RIOTS,CHEATING,COUNTERFIETING,TOTAL IPC CRIMES,STATE/UT_encoded
9012,LAKSHADWEEP,2012,0,0,0,0,0,0,0,7,1,10,0,0,60,18
9013,LAKSHADWEEP,2012,0,0,0,0,0,0,0,7,1,10,0,0,60,18
9014,PUDUCHERRY,2012,5,6,6,2,2,0,3,81,53,17,15,1,787,26
9015,PUDUCHERRY,2012,24,21,7,17,14,5,13,577,409,109,75,5,3494,26
9016,PUDUCHERRY,2012,29,27,13,19,16,5,16,658,462,126,90,6,4281,26

In [15]:
df1.drop(columns=['STATE/UT'], axis=0, inplace=True)

In [13]:
df1.head()

,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,DACOITY,ROBBERY,THEFT,AUTO THEFT,RIOTS,CHEATING,COUNTERFIETING,TOTAL IPC CRIMES
0,ADILABAD,2001,101,60,50,46,30,9,41,199,22,78,104,1,4154
1,ANANTAPUR,2001,151,125,23,53,30,8,16,366,57,168,65,8,4125
2,CHITTOOR,2001,101,57,27,59,34,4,14,723,164,156,209,9,5818
3,CUDDAPAH,2001,80,53,20,25,20,1,4,173,36,164,37,2,3140
4,EAST GODAVARI,2001,82,67,23,49,26,4,25,1021,150,70,220,3,6507

In [24]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier



# Preprocess the data and train the model (same steps as before)

# Assuming df1 is the DataFrame containing the crime data
# Define a threshold for total IPC crimes to classify a district as safe or not
threshold = 1000
df1['Safe'] = df1['TOTAL IPC CRIMES'].apply(lambda x: 1 if x < threshold else 0)

# Features and target variable
X = df1[['MURDER', 'ATTEMPT TO MURDER', 'RAPE', 'KIDNAPPING & ABDUCTION', 
         'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS', 'DACOITY', 'ROBBERY', 
         'THEFT', 'AUTO THEFT', 'RIOTS', 'CHEATING', 'COUNTERFIETING', 'TOTAL IPC CRIMES']]
y = df1['Safe']

# Train the model
model = RandomForestClassifier()
model.fit(X, y)

# User input for district and year
district = input("Enter the district: ")
year = int(input("Enter the year: "))

# Filter the dataset for the given district and year
district_data = df1[(df1['DISTRICT'] == district) & (df1['YEAR'] == year)][['MURDER', 'ATTEMPT TO MURDER', 'RAPE', 
                                                                          'KIDNAPPING & ABDUCTION', 
                                                                          'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS', 
                                                                          'DACOITY', 'ROBBERY', 'THEFT', 
                                                                          'AUTO THEFT', 'RIOTS', 'CHEATING', 
                                                                          'COUNTERFIETING', 'TOTAL IPC CRIMES']]

# Check if data for the given district and year exists
if len(district_data) == 0:
    print("Data not found for the given district and year.")
else:
    # Predict whether the district is safe or not
    prediction = model.predict(district_data)

    # Display the prediction
    if prediction[0] == 0:
        print(f"The district '{district}' in the year {year} is predicted to be unsafe.")
    else:
        print(f"The district '{district}' in the year {year} is predicted to be safe.")

Enter the district:  ANANTAPUR
Enter the year:  2015

Data not found for the given district and year.

In [25]:
import joblib

# Train the model (same steps as before)
model = RandomForestClassifier()
model.fit(X, y)

# Define the full path to save the trained model
model_path = r'C:\Users\hp\Desktop\crime prediction app\random_forest_model.pkl'

# Save the trained model to the specified path
joblib.dump(model, model_path)

# Print confirmation message
print("Model saved as PKL file at:", model_path)

Model saved as PKL file at: C:\Users\hp\Desktop\crime prediction app\random_forest_model.pkl